@model TestModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@this.Model.Name</title>
</head>
<body>
    <div>
        @this.Model.Age
    </div>
</body>
</html>
