@model List<TestModel>
@{
    ViewBag.Title = "数据集合";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div>
    <a href="/data/edit" class="btn btn-primary">新建</a>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>名称</th>
                <th>年龄</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var md in this.Model)
            {
                <tr>
                    <td><a href="/data/detail/@md.Id">@md.Name</a> </td>
                    <td>@md.Age</td>

                    <td><a href="/data/edit/@md.Id" class="btn btn-success btn-sm">编辑</a></td>
                </tr>
            }
            <tr></tr>
        </tbody>

    </table>

   
</div>